/*
* @Author: junying
* @Date:   2017-08-17 16:06:18
* @Last Modified by:   junying
* @Last Modified time: 2017-08-17 16:37:27
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "微软雅黑","宋体","sans-serif";
	text-decoration: none;
}
